* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}


body {
    font-family: 'Cinzel', serif;
    color: whitesmoke;
    background-color: rgb(82, 85, 88);
}

.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 50px 0px 30px 0px; 
    text-align: center;
    font-size: 40px;
}

header p {
    font-size: 25px;
}

.pads {
    background: lightslategray;
    width: 100%;
    display: flex;
}

.pads > div{
    height: 100px;
    width: 100px;
    flex: 1;
}

.pad1 {
    background: rgb(233, 181, 233);
}
.pad2 {
    background: rgb(235, 167, 235);
}
.pad3 {
    background: rgb(231, 130, 231);
}
.pad4 {
    background: rgb(129, 86, 129);
}
.pad5 {
    background: rgb(90, 45, 90);
}
.pad6 {
    background: rgb(95, 16, 95); 
}

.visual > div {
    position: absolute;
    bottom: 0%;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transform: scale(1);
    z-index: -1;
}

@keyframes jump {
    0% {
        bottom: 0%;
        left: 20%;
    }
    50% {
        bottom: 50%;
        left: 50%;
    }
    100% {
        bottom: 0%;
        left: 80%;
    }
}

